.main-price__wrapper {
	width: 100%;
	padding-top: 25px;
	background-color: #393e46;
}

.main-price__wrpaper--green {
	margin: 0 auto;
	margin-top: 25px;
	background-color: #00adb5;
}
.main-price__title {
	margin: 0;
	font-size: 60px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	text-align: center;
	color: #eeeeee;
}

.tabs {
	padding-top: 15px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.tab {
	padding: 30px 10px;
	background: #00adb5;
	display: inline-block;
	color: #393e46;
	cursor: pointer;
	text-transform: uppercase;
	transition: 0.5s;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 1.2px;
}
.tab h3 {
	margin: 0;
	font-size: 25px;
}

.tab:focus,
.tab:hover {
	color: #eeeeee;
}
.panels {
	width: 100%;
	min-height: 400px;
	padding-bottom: 50px;
	background: #00adb5;
	overflow: hidden;
}

.panel {
	display: none;
	animation: fadein 0.5s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.panel-title {
	margin: 0;
	font-size: 1.5em;
	font-weight: bold;
}

.radio {
	display: none;
}

#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel,
#four:checked ~ .panels #four-panel {
	display: flex;
	max-width: 1200px;
	height: 450px;
	margin: 0 auto;
	color: #eeeeee;
}

#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab,
#four:checked ~ .tabs #four-tab {
	background: #00adb5;
	color: #eeeeee;
}

#one-panel {
	display: flex;
	justify-content: space-around;
}

.main-price__site-description-wrapper{
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
  align-items: center;
}