@media (min-width:340px) {


	.main_price__wrapper {
		width: 100%;
		padding-top: 25px;
		padding-bottom: 25px;
		background-color: #393e46;
	}


	.main_price__wrpaper_green {
		margin: 0 auto;
		padding-top: 25px;
		background-color: #00adb5;
	}

	.main_price__title {
		margin: 0;
		padding-bottom: 5px;
		letter-spacing: 1.5px;
		text-transform: uppercase;
		text-align: center;
		font-size: 40px;
		font-weight: 200;
		color: #eeeeee;

	}

}