@media (min-width:340px) {


	.main_price__wrapper {
		width: 100%;
		padding-top: 20px;
		padding-bottom: 25px;
		background-color: #393e46;
	}


	.main_price__wrpaper_green {
		margin: 0 auto;
		padding-top: 25px;
		background-color: #00adb5;
	}

	.main_price__title {
		margin: 0;
		padding-bottom: 15px;
		letter-spacing: 1.5px;
		text-transform: uppercase;
		text-align: center;
		font-size: 38px;
  font-weight: 200;
		color: #eeeeee;
	}

	.panel{
		padding-top: 25px;
		padding-bottom: 25px;
		background-color: #00adb5;
		min-height: 250px;
		display: flex;
		color: #eeeeee;
		border: 2px solid black;
	}
	.wrapper{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.panel_img{
		display: block;
		width: 75px;
		height: 75px;
		border: 2px black solid;
		border-radius: 50%;

	}
}
