
.todo_title{
 background-color: red;
}

.todo_wrapper{
  width: 700px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo_item{
  width: 450px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}


