@media (min-width: 340px) {

	.header {
		width: 100%;
		padding-top: 25px;
		background-color: #393e46;
	}

	.header-logo__wrapper{
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 25px;
	}
	.header-logo {
		color: white;
		font-size: 8px;
	}


	.header-navigation {
		padding-right: 15px;
		padding-left: 15px;
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		flex-direction: column;
	}

	.list {
		width: 300px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-bottom: 15px;
	}

	.header_nav__item{
		padding-bottom: 10px;
	}

	.header_nav__link {
		position: relative;
		color: #eeeeee;
		display: inline-block;
		height: 25px;
		line-height: 21px;
		text-align: center;
		transition: 0.5s;
		padding-right: 10px;
		padding-left: 10px;
		padding-bottom: 7px;
		cursor: pointer;
		text-transform: uppercase;
		letter-spacing: 1.2px;
		-webkit-transition: 0.5s;
	}

	.header-contatcs__link::before,
	.box::after {
		width: 100%;
		height: 100%;
		z-index: 3;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		box-sizing: border-box;
		-webkit-transform: scale(0);
		transition: 0.5s;
	}

	.header-contatcs__link::before {
		border-bottom: 2px solid #00adb5;
		/* border-left: 0; */
		-webkit-transform-origin: 0% 100%;
	}

	.header-contatcs__link::after {
		border-top: 0;
		border-right: 0;
		-webkit-transform-origin: 50% 50%;
	}

	.header-contatcs__link:hover::after,
	.header-contatcs__link:hover::before {
		-webkit-transform: scale(1);
	}

}

@media (min-widtg: 760px) {
	
	.header-navigation {
		padding-right: 40px;
		padding-left: 40px;
		justify-content: space-between;
		align-items: baseline;
	}
	
	
	.header-contatcs,
	.header-about {
		display: flex;
	}
	
	.header-contatcs__item,
	.header-about__item {
		padding-left: 10px;
		padding-right: 10px;
		font-size: 21px;
	}
	
	.header-contatcs__item:nth-child(2) {
		align-items: end;
		display: flex;
	}
	
	.header-contatcs__item svg {
		margin-bottom: -8px;
	}

}

