@media (min-width: 340px) {

	.header {
		width: 100%;
		padding-top: 25px;
		background-color: #393e46;
	}

	.header_logo__wrapper{
		padding-bottom: 10px;
		padding-left: 25px;
		padding-right: 40px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.header_logo {
		padding: 10px;
		min-width: 40px;
		min-height: 40px;
		display: flex;
		align-items: center;
		justify-content: start;
		color: white;
		font-size: 16px;
	}
	.display_none{
		display: none;
	}

	.header_navigation {
		padding-right: 55px;
		padding-left: 15px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	.list {
		width: 300px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-bottom: 15px;
	}

	.header_nav__item{
		padding-bottom: 10px;
	}

	.header_nav__link {
		position: relative;
		color: #eeeeee;
		display: inline-block;
		height: 25px;
		line-height: 21px;
		text-align: center;
		transition: 0.5s;
		padding-right: 10px;
		padding-left: 10px;
		padding-bottom: 7px;
		cursor: pointer;
		text-transform: uppercase;
		letter-spacing: 1.2px;
		-webkit-transition: 0.5s;
	}

	.burger_btn{
		width: 40px;
		height: 18px;
		display: flex;
		justify-content: flex-end;
		position: relative;
		background-attachment: fixed;
		background-color: transparent;
		border: none;
		z-index: 50;
	
		span{
			height: 25px;
			width: 100%;
			transform: scale(1);
			background-color:#eeeeee;
		}
	}

	// .burger_btn::before,
	// .burger_btn::after{
	// 	content: '';
	// 	height: 2px;
	// 	width: 100%;
	// 	background-color:#eeeeee;
	// 	position: absolute;
	// 	transition: all 0.3s ease 0s;
	// }
	// .burger_btn::before{
	// 	top: 0;
	// }
	// .burger_btn::after{
	// 	bottom: 0;
	// }

	// .burger_btn.active span {
	// 	transform: scale(0);
	// }
	// .burger_btn.active::before{
	// 	top: 50%;
	// 	transform: rotate(-45deg) translate(0, -50%);
	// }
	// .burger_btn.active::after{
	// 	bottom: 50%;
	// 	transform: rotate(45deg) translate(0, 50%);
	// }
	
}

@media (min-widtg: 760px) {
	
	.header_navigation {
		padding-right: 40px;
		padding-left: 40px;
		justify-content: space-between;
		align-items: baseline;
	}
	
	

}

