@font-face {
  font-family: 'Roboto-Bold';
  src: local('Roboto-Bold'),
  url('fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
}
.Roboto-Bold{
  font-family: 'Roboto-Bold';
}

@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto-Regular'),
  url('fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 500;
}
.Roboto-Regular{
  font-family: 'Roboto-Regular';
}

@font-face {
  font-family: 'Roboto-Thin';
  src: local('Roboto-Thin'),
  url('fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 300;
}
.Roboto-Thin{
  font-family: 'Roboto-Thin';
}

body{
  margin:0;
  padding:0;
  font-family: sans-serif;
}

ul {
  margin:0;
  padding:0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

