.main_portfolio__wrapper {
	/* padding-left: 60px;
	padding-right: 60px;
	 */
	background-color: #393e46;
	padding-bottom:12px;
}
.main_portfolio {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(15, 5vw);
	grid-gap: 12px;
}

.main_portfolio__title{
	margin:0 ;
	padding-top: 25px;
	padding-bottom: 30px;
	height: 50px;
	width: 100%;
	background-color:#222831;
	font-size: 60px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	text-align: center;
	color:  #EEEEEE;
}

.container {
	position: relative;
	display: inline-block;
}

.portfoli__lanka-booking {
	width: 600px;
	height: 700px;
	filter: grayscale(0%);
	filter: grey;
	transition: 0.5s ease;
	backface-visibility: hidden;
	-webkit-filter: grayscale(0%);
	-webkit-transition: all 0.5s ease;
}

.portfoli__lanka_booking:hover {
	filter: grayscale(100%);
	filter: none;
	opacity: 0.95;
	transition: 0.5s ease;
	/* transform: scale(1.01); */
	-webkit-filter: grayscale(100%);
	/* -webkit-transform: scale(1.01); */
	/* -ms-transform: scale(1.01); */
}

.middle {
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}
/* .container:hover .image {
  opacity: 1;
} */

.container:focus .middle,
.container:hover .middle {
	opacity: 1;
}

.text {
	display: block;
	background-color: #00adb5;
	font-size: 16px;
	padding: 12px 24px;
	color: #EEEEEE;
	font-size: 25px;
	text-transform:uppercase;
	letter-spacing: 1px;
	border-radius: 8px;
}


.portfoli__lanka_booking {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.gallery__item__1 {
	grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 6;
}
.gallery__item__2 {
	grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 11;
}
.gallery__item__3 {
	grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 11;
}
.gallery__item__4 {
	grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 11;
  grid-row-end: 16;
}
.gallery__item__5 {
	grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 11;
  grid-row-end: 16;
}